# Set update schedule for GitHub Actions
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    # Defines a cooldown period for dependency updates,
    # allowing updates to be delayed for a configurable number of days.
    cooldown:
      default-days: 60
