[workspace]
members = ["addresses", "base58", "bitcoin", "chacha20_poly1305", "consensus_encoding", "fuzz", "hashes", "internals", "io", "p2p", "primitives", "units"]
exclude = ["benches"]
resolver = "2"

# Keep this patch for hashes because secp256k1 depends on bitcoin-hashes via crates.io
# This allows testing changes to hashes with secp256k1
# See https://github.com/rust-bitcoin/rust-bitcoin/pull/4284#pullrequestreview-2714442229
[patch.crates-io.bitcoin_hashes]
path = "hashes"
