[workspace]
members = ["bitcoin", "hashes", "internals", "fuzz", "io", "units", "base58"]
resolver = "2"

[patch.crates-io.base58ck]
path = "base58"

[patch.crates-io.bitcoin]
path = "bitcoin"

[patch.crates-io.bitcoin_hashes]
path = "hashes"

[patch.crates-io.bitcoin-internals]
path = "internals"

[patch.crates-io.bitcoin-io]
path = "io"

[patch.crates-io.bitcoin-units]
path = "units"
