[package]
name = "bitcoin-units"
version = "1.0.0-rc.3"
authors = ["Andrew Poelstra <apoelstra@wpsoftware.net>", "Tobin C. Harding <me@tobin.cc>"]
license = "CC0-1.0"
repository = "https://github.com/rust-bitcoin/rust-bitcoin/"
description = "Basic Bitcoin numeric units such as amount"
categories = ["cryptography::cryptocurrencies"]
keywords = ["bitcoin", "newtypes", "no-std"]
readme = "README.md"
edition = "2021"
rust-version = "1.74.0"
exclude = ["tests", "contrib"]

[features]
default = ["std"]
std = ["alloc", "internals/std", "encoding?/std"]
alloc = ["internals/alloc", "serde?/alloc", "encoding?/alloc"]

[dependencies]
encoding = { package = "bitcoin-consensus-encoding", path = "../consensus_encoding", version = "=1.0.0-rc.3", default-features = false, optional = true }
internals = { package = "bitcoin-internals", path = "../internals", version = "0.5.0" }

serde = { version = "1.0.195", default-features = false, features = ["derive"], optional = true }
arbitrary = { version = "1.4.1", optional = true }

[dev-dependencies]
internals = { package = "bitcoin-internals", path = "../internals", version = "0.5.0", features = ["test-serde"] }
bincode = "1.3.1"
serde = { version = "1.0.195", default-features = false, features = ["derive"] }
serde_test = "1.0.19"
serde_json = "1.0.68"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true
