---   # rust-bitcoin CI: If you edit this file please update README.md
on:   # yamllint disable-line rule:truthy
  push:
    branches:
      - master
      - 'test-ci/**'
  pull_request:

name: Miri

permissions: {}

jobs:
  Miri:
    name: Miri
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      fail-fast: false
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: "Read nightly version"
        id: read_toolchain
        run: echo "nightly_version=$(cat nightly-version)" >> $GITHUB_OUTPUT
      - name: "Select toolchain"
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # v1
        with:
          toolchain: ${{ steps.read_toolchain.outputs.nightly_version }}
          components: miri
      - name: "Setup miri"
        run: cargo miri setup
      - name: "Set dependencies"
        run: cp Cargo-recent.lock Cargo.lock
      - name: "Run test script"
        run: ./contrib/test-miri.sh
